.app.dark {
  --bg-color: rgb(8, 8, 133); // Тёмно-синий фон
  --inverted-bg-color: rgb(212, 212, 212); // Светло-серый для текста

  --primary-color: #055f05; // Тёмно-зелёный для основных элементов
  --secondary-color: rgb(11, 185, 11); // Ярко-зелёный для акцентов

  --inverted-primary-color: #053294; // Тёмно-синий для инвертированных светлых элементов
  --inverted-secondary-color: rgb(23, 9, 218); // Насыщенный синий для светлых акцентов
}